doctype html
html
  include @/@loadingio/bootstrap.ext/dist/index.pug
  head
    +css("/assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    style(type="text/css"): :stylus
      .grid
        display: grid
        grid-template: unquote("repeat(19,1fr) / repeat(19,1fr)")
        border: 2px solid #000
        background: #ec9
        padding: 1em
        .cell
          border: 1px solid #444
          cursor: pointer
          position: relative
          margin: -1px 0 0 -1px
        .cell.black:before, .cell.white:before
          display: block
          content: " "
          position: absolute
          width: 90%
          height: 90%
          margin: auto
          top: 0
          left: 0
          right: 0
          bottom: 0
          border-radius: 50%
          box-shadow: 0 1px 3px rgba(0,0,0,.3)
        .cell.black:before
          background: #444
        .cell.white:before
          background: #fff
          
  body
    .w-640.rwd.mx-auto.my-4: .aspect-ratio.ratio-1by1
      .grid.w-100.h-100
        .cell(ld-each="cell")
    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/ldview/main/index.min.js")
    script: include:lsc index.ls
